#nav-ultime-novità {
    width: 100%;
    display: flex;
}

#nav-ultime-novità > ul {
    min-width: 100%;
    border-bottom: 2px #cdcdcd solid;
    padding-left: 22%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    list-style-type: none;
}

/* STILE INIZIALE */
.li-nav-UN {
    cursor: pointer;
    border: transparent;
    padding: 18px 0px;
}
#nav-ultime-novità > ul > li:hover {
    background-color: #dedede;
}

nav > ul > li > div {
    display: block;
    border-right: solid 2px #cdcdcd;
}
/* nav > ul > li > div:last-of-type  {
    border-right: none;
} */

#nav-ultime-novità > ul > li > div > a {
    color: #161616;
    margin: 14px;
    padding-bottom: 20px;
    white-space: nowrap;
    
    text-decoration: none;
    font-family: sans-serif;
}

.active { 
    cursor: pointer;
    font-size: 18px;
    padding: 18px 0px 18px 5px;
    background-color: #dedede;
    }

.active>div>a{
    border-bottom: solid 3px #ff4747;
}