<nav id="nav-ultime-novità">
    <ul>
        <li class="li-nav-UN" ng-class="{ active: activePath=='/container-card-NEA' }">
            <div><a href="container-card-NEA">Notizie EA</a></div>
        </li>
        <li class="li-nav-UN" ng-class="{ active: activePath=='/container-card-EAP' }">
            <div><a  href="container-card-EAP">EA Play</a></div>
            </li>
        <li class="li-nav-UN" ng-class="{ active: activePath=='/container-card-FIFA' }">
            <div><a href="container-card-FIFA">FIFA</a></div>
            </li>
        <li class="li-nav-UN" ng-class="{ active: activePath=='/container-card-Apex' }">
            <div><a href="container-card-Apex">Apex Legends</a></div>
        </li>
        <li class="li-nav-UN" ng-class="{ active: activePath=='/container-card-Battlefield' }">
            <div><a href="container-card-Battlefield">Battlefield</a></div>
        </li>
        <li class="li-nav-UN" ng-class="{ active: activePath=='/container-card-TheSims' }">
            <div><a href="container-card-TheSims">The Sims 4</a></div>
        </li>
        <li class="li-nav-UN" ng-class="{ active: activePath=='/container-card-F1' }">
            <div><a href="container-card-F1">F1 2021</a></div>
            </li>
        <li class="li-nav-UN" ng-class="{ active: activePath=='/container-card-IEA' }">
            <div><a href="container-card-IEA">Inside EA</a></div>
        </li>
    </ul>
</nav>
