a {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
}
.container-list {
  font-size: 18px;
}
.button-default {
  margin-right: 50%;
}
.buttons-lingua {
  position: relative;
  margin-left: 35%;
  width: 190px;
  height: 60px;
  border: 2px solid #c2c2c2;
  border-radius: 3px;
  background-color: transparent;
  transition: 0.1s;
  cursor: pointer;
  z-index: 2;
}
.buttons-lingua:hover {
  box-shadow: 0px 0px 0px 2px #c2c2c2;
  border: transparent;
}
.buttons-lingua a {
  color: black;
}
.change-border {
  margin-left: 35%;
  width: 190px;
  height: 60px;
  border: 2px solid #c2c2c2;
  border-radius: 3px;
  background-color: transparent;
  transition: 0.1s;
  cursor: pointer;
  border-top: transparent;
}
.rotate-arrow {
  transform: rotate(0.5turn);
}
.container-footer-3 {
  margin-left: 20vw;
  margin-top: 30px;
}
.container-footer-4 {
  margin-left: 23.3vw;
  margin-top: 30px;
}
.list-legal-nots {
  display: flex;
  flex-wrap: wrap;
  width: 650px;
  line-height: 20px;
}
.panel-language {
  display: flex;
  position: absolute;
  bottom: 100%;
  right: -30px;
  width: 550px;
  height: 550px;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #f3f3f3;
  padding: 35px 45px;
  border: 3px solid #c2c2c2;
  border-radius: 3px;
  box-shadow: 0 14px 20px 0 rgb(0 0 0 / 16%);
  z-index: -1;
  text-align: start;
}
.panel-language a {
  position: relative;
  left: auto;
  width: 130px;
  height: 40px;
  color: black;
  font-size: 15px;
  border-bottom: 1px solid #c2c2c2;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
}
.panel-language > a > img {
  width: 16px;
  position: relative;
}
.panel-language > a:hover {
  transform: translateX(10px);
}
