<div class="container-background-color-footer">
  <div class="container container-footer-info">
    <div class="container-footer-info-1">
      <ul>
        <li>
          <img
            src="../../../../assets/footer-assets/october-ea-ring.png"
            alt=""
          />
        </li>
        <li><a href="#">Libreria dei giochi</a></li>
        <li><a href="#">Registrati</a></li>
        <li><a href="#">Origin</a></li>
        <li><a href="#">Informazioni</a></li>
        <li><a href="#">Accessibilità</a></li>
        <li><a href="#">Aiuto</a></li>
      </ul>
      <div class="container-footer-info-2">
        <button class="buttons-lingua" (click)="toggleMenu(panelHide2)">
          <span class="image-buttons-lingua">
            <img
              src="../../../../assets/icon-language/italy.png "
              width="20px"
              alt=""
            />
            Italia
          </span>
          <span>
            <img
              src="../../../../assets/footer-assets/icons8-freccia-espandi-30.png"
              alt=""
              width="20px"
            />
          </span>
          <span>
            <div class="panel" id="panel-active" #panelHide2>
              <a href="#">
                <img src="../../../../assets/icon-language/usa.png" alt="" />
                United States
              </a>
              <a href="#">
                <img src="../../../../assets/icon-language/uk.png" alt="" />
                United Kingdom
              </a>
              <a href="#">
                <img
                  src="../../../../assets/icon-language/australia.png"
                  alt=""
                />
                Australia
              </a>
              <a href="#">
                <img src="../../../../assets/icon-language/france.png" alt="" />
                France
              </a>
              <a href="#">
                <img
                  src="../../../../assets/icon-language/germania.png"
                  alt=""
                />
                Deutschland
              </a>
              <a href="#">
                <img src="../../../../assets/icon-language/italy.png" alt="" />
                Italia
              </a>
              <a href="#">
                <img src="../../../../assets/icon-language/giappo.png" alt="" />
                日本
              </a>
              <a href="#">
                <img src="../../../../assets/icon-language/polska.png" alt="" />
                Polska
              </a>
              <a href="#">
                <img src="../../../../assets/icon-language/brazil.png" alt="" />
                Brasil
              </a>
              <a href="#">
                <img src="../../../../assets/icon-language/espana.png" alt="" />
                Espana
              </a>
              <a href="#">
                <img src="../../../../assets/icon-language/canada.png" alt="" />
                Canada(En)
              </a>
              <a href="#">
                <img src="../../../../assets/icon-language/canada.png" alt="" />
                Canada(Fr)
              </a>
              <a href="#">
                <img
                  src="../../../../assets/icon-language/danmark.png"
                  alt=""
                />
                Danmark
              </a>
              <a href="#">
                <img src="../../../../assets/icon-language/suomi.png" alt="" />
                Suomi
              </a>
              <a href="#">
                <img src="../../../../assets/icon-language/mexico.png" alt="" />
                Mexico
              </a>
              <a href="#">
                <img src="../../../../assets/icon-language/norge.png" alt="" />
                Norge
              </a>
              <a href="#">
                <img
                  src="../../../../assets/icon-language/sverige.png"
                  alt=""
                />
                Sverige
              </a>
              <a href="#">
                <img src="../../../../assets/icon-language/turkye.png" alt="" />
                Turkye
              </a>
            </div>
            <div class="panel-selector panel-selector-1">
              <select
                class="option-language"
                name="language"
                id="language"
                size="17"
              >
                <option value="">United States</option>
                <option value="">United Kingdom</option>
                <option value="">Australia</option>
                <option value="">France</option>
                <option value="">Deutschland</option>
                <option value="">Cina</option>
                <option value="">Polska</option>
                <option value="">Brasil</option>
                <option value="">Espana</option>
                <option value="">Russia</option>
                <option value="">Ceska Republika</option>
                <option value="">Canada(En)</option>
                <option value="">Canada(Fr)</option>
                <option value="">Danmark</option>
                <option value="">Suomi</option>
                <option value="">Mexico</option>
                <option value="">Nederland</option>
                <option value="">Norge</option>
                <option value="">Sverige</option>
                <option value="">Turkye</option>
              </select>
            </div>
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="container-footer-info-3">
    <ul>
      <li><a href="#">Note legali</a></li>
      <li><a href="#">Accordo con l'utente</a></li>
      <li>
        <a href="#"
          >Politica sulla privacy e sui cookie (i tuoi diritti sulla privacy)</a
        >
      </li>
      <li><a href="#">Aggiornamenti sui servizi online</a></li>
      <li><a href="#">Termini di servizio di Youtube</a></li>
      <li><a href="#">Norme sulla privacy di Google</a></li>
      <li><a href="#">Cookie Preferenze</a></li>
      <li>
        <p>© 2021 Electronic Arts Inc.</p>
      </li>
    </ul>
  </div>
</div>
