<div class="container-info-social">
  <p style="margin-left: 20vw; margin-right: 20vw" class="mt-4 mb-0">
    *L'OFFERTA POTREBBE VARIARE. CONSULTA IL SITO DEL RIVENDITORE PER I
    DETTAGLI.
  </p>
  <p style="margin-left: 20vw; margin-right: 20vw" class="mb-0">
    **SI APPLICANO CONDIZIONI, LIMITAZIONI ED ESCLUSIONI. VISITA
    <a href="https://tos.ea.com/legalapp/eaplay/IT/it/PC/" style="color: red"
      >https://tos.ea.com/legalapp/eaplay/IT/it/PC/</a
    >PER I DETTAGLI.
  </p>
  <hr style="margin-left: 20vw; margin-right: 20vw" />
  <div class="container-info-social-link-icon">
    <div class="container-fluid">
      <ul class="link-utili">
        <li><a href="#">Rapporto sull'impatto</a></li>
        <li><a href="#">Dirigenza</a></li>
        <li><a href="#">Sicurezza e privacy</a></li>
        <li><a href="#">Attività politiche</a></li>
        <li><a href="#">Segnala un problema</a></li>
        <li>
          <a href="#">Dichiarazione globale sul rispetto dei diritti umani</a>
        </li>
      </ul>
    </div>
    <div class="social">
      <p>Partecipa alla conversazione</p>
      <div>
        <a href="#">
          <img
            src="../../../../assets/footer-assets/icons8-f-di-facebook.svg"
          />
        </a>
        <a href="#"
          ><img src="../../../../assets/footer-assets/icons8-twitter.svg"
        /></a>
        <a href="#">
          <img
            src="../../../../assets/footer-assets/icons8-riproduci-youtube.svg"
          />
        </a>
        <a href="#"
          ><img src="../../../../assets/footer-assets/icons8-instagram.svg"
        /></a>
        <a href="#"
          ><img src="../../../../assets/footer-assets/icons8-twitch.svg"
        /></a>
      </div>
    </div>
  </div>
</div>
