.black-nav {
    background-color: #161616;
    height: 40px;
    justify-content: flex-end;
    gap: 35px;
    padding-right: 35px;
}
.black-nav > svg{
    fill: #dcdcdc;
    height: 18px;
}

.black-nav > *, 
.white-nav > *{
    cursor: pointer;
}

.white-nav{
    height: 60px;
}

.circle-menu{
    gap: 3px;
    padding: 10px;
    margin: 0 10px;
    max-width: 20px;
    cursor: pointer;
}

.circle{
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #161616;
    transition: 0.250s;
}

.circle-menu:hover > .circle{
    width: 7px;
    height: 7px;
    background-color: #FF4747;
}

.white-nav > .logo{
    width: 210px;
    margin: 0 4rem 0 2rem;
}

.white-nav > ul{
    list-style: none;
    font-size: 18px;
    gap: 35px;
}

.white-nav > ul > li{
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}

.white-nav > ul .arrow > img{
    width: 20px;
    margin-top: 5px;
    transition:  0.5s;
}

.white-nav > ul > li:hover .arrow > img{
    transform: rotate(0.5turn);
}

.white-nav > ul .drop-menu{
    position: absolute;
    left: 0;
    width: max-content;
    top: calc(100% + .25rem);
    background-color: white;
    padding: 0.70rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px 0 #333;
    opacity:0;
    pointer-events: none;
    transform:  translateY(-10px);
    transition: opacity 200ms, transform 200ms;
}

.white-nav > ul > li:hover > .drop-menu{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}


aside > .left-menu{
    background-color: white;
    width: 450px;
    height: max-content;
    position: absolute;
    box-shadow: 5px 0px 10px 3px #2c2c2c93;
    left: -500px;
    transition: position ease-in-out 0.8s;
    z-index: 1000;
}

aside > .left-menu > div.left-menu-text{
    width: 80%;
    margin: 40px auto;
}

aside > .left-menu > div > * {
    color: #333333b0;
    cursor: pointer;
    font-weight: bolder;
}

aside > .left-menu > div > *:hover{
    color: red;
}

#menu-closer{
    font-weight: lighter;
}

.first-card-aside{
    width: 80%;
    height: 300px;
    background-color: purple;
    margin: 0 auto;
}

.aside-card-1{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 50px auto;
}

.aside-card{
    width: 150px;
    height: 150px;
    background-color: blue;
}

