<div class="shadow-label">
    <a class="link-label" href="">
    <div class="imm-label">
        <img src="{{ cardUN.imageUrl }}" alt="immagine" />
    </div>
    <div class="article-label">
        <h3 class="info-article">
            <span class="subject-article">{{ cardUN.author }}</span>
            <span class="date-article">{{ cardUN.date }}</span>
        </h3>
        <h1 class="title-article">{{ cardUN.title }}</h1>
        <p class="subtitle-article">{{ cardUN.subtitle }}</p>
    </div>
    </a>
</div>
