<article class="banner d-flex align-items-center">
    <div class="container">
        <img src="../../../../assets/header-assets/bf-2042-adaptive-hero-logo-7x2-xl.png.adapt.crop7x2.1920w.png" alt="it-take-two x eaPlay">
        <div class="banner-text">
            <h1>Ora disponibile</h1>
            <h6>L'accesso anticipato per i membri di EA Play ed EA Play Pro, oltre che per i possessori di Gold Edition e Ultimate Edition, inizia ora!</h6>    
        </div>
        <button class="btn-default" type="button">Gioca ora</button>
    </div>
</article>