<div class="banner-footer position-relative">
  <img
    class="d-none d-xxl-inline banner-img"
    src="../../../../assets/footer-assets/banner-footer-1920.jpg"
  />
  <img
    class="d-none d-xl-inline d-xxl-none banner-img"
    src="../../../../assets/footer-assets/banner-footer-1455.jpg"
  />
  <img
    class="d-none d-lg-inline d-xl-none banner-img"
    src="../../../../assets/footer-assets/banner-footer-1023.jpg"
  />
  <img
    class="d-none d-sm-inline d-lg-none banner-img"
    src="../../../../assets/footer-assets/banner-footer-767.jpg"
  />
  <img
    class="d-inline d-sm-none banner-img"
    src="../../../../assets/footer-assets/banner-footer-320.jpg"
  />
  <div class="ea-logo-play position-absolute">
    <img
      src="../../../../assets/footer-assets/ea-play-logo-coral-hero-logo-small.svg"
    />
    <p>
      Non limitarti al gioco. Gioca al massimo. Sblocca ricompense esclusive,
      contenuti per i soli membri e una libreria dei migliori titoli.
    </p>
    <app-button-subscribe></app-button-subscribe>
  </div>
  <div class="blue-stripe d-flex justify-content-between">
    <p class="mt-4">
      <b>Genitori: il controllo dei videogiochi è nelle vostre mani.</b>
    </p>
    <app-button-discover></app-button-discover>
  </div>
</div>
