<a href="https://www.ea.com/it-it/games/battlefield/battlefield-2042" class="ea-container">
    <p>Sito ufficiale</p>
  </a>
  <a href="https://www.ea.com/it-it/games/fifa/fifa-22" class="ea-container">
    <p>Sito ufficiale</p>
  </a>
  <a href="https://www.ea.com/it-it/games/f1/f1-2021" class="ea-container">
    <p>Sito ufficiale</p>
  </a>
  <a href="https://www.ea.com/it-it/games/need-for-speed/need-for-speed-hot-pursuit-remastered" class="ea-container">
    <p>Sito ufficiale</p>
  </a>
  <a href="https://www.ea.com/it-it/games/apex-legends" class="ea-container">
    <p>Sito ufficiale</p>
  </a>
  <a href="https://www.ea.com/it-it/games/the-sims/the-sims-4" class="ea-container">
    <p>Sito ufficiale</p>
  </a>
  <a href="https://www.ea.com/it-it/games">
    <button class="button-ultimi-giochi">
      <span>Ultimi giochi</span>
    </button>
  </a>